h1 {
/*
	border-color: purple;
	border-width: 2px;
	border-style: solid;
*/
	border: 2px solid rgb(255, 100, 80);
	color: rgba(0, 200, 100, 0.7);
}

h4 {
	background: rgb(255, 100, 80);
}

body {
	background: pink;

	background: url(http://thumbs.dreamstime.com/x/sea-nature-background-13111331.jpg);
	background-repeat: no-repeat;
	background-size: cover;	
}

div	{
	background: rgba(0, 0, 0, 0.5);
}